html {
  font-size: 14px;
}

@media (min-width: 48em) {
  html {
    font-size: 14px;
  }
}

.blog-masthead.custom {
  background-color: #b34848;
}

.custom h1,
.custom .h1,
.custom h2,
.custom .h2,
.custom h3,
.custom .h3,
.custom h4,
.custom .h4,
.custom h5,
.custom .h5,
.custom h6,
.custom .h6 {
  color: #b34848;
}

.custom .blog-post-title:hover {
  color: #b34848;
  text-decoration: underline;
  text-decoration-color: #b34848;
}

.custom.blog-footer {
  margin-top: auto;
}

.comments-list {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.comment-content {
  color: rgba(0, 0, 0, 0.5);
}

#comments-button {
  margin-bottom: 2rem;
}

#comments.hidden {
  display: none;
}

.latest-title {
  margin-bottom: 0.5rem;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.add-comment {
  display: flex;
  flex-direction: column;
}

.add-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

/* It didnt want to pull the styles from Bootstrap... */
.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
